<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Mapping Validator</title>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <h2 align="center">Mapping Shape Validator</h2>
    </head>
        <body>

            <div class="nav">
                <ul>
                    <li><a href=".">Mapping Definition Validator</a></li>
                    <li><a href="/mapping_output">Mapping Output Validator</a></li>
                </ul>
            </div>

            <div class="container">
                <form method="POST" action="." enctype = "multipart/form-data">
                    Upload Mapping Definition: &nbsp; <input type = "file" name = "file_1">
                    <input type = "submit" value="Upload"/>
                </form>
            </div>

        <div>
</div>
        </body>
</html>