<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Mapping Validator</title>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <h2 align="center">Mapping Shape Validator</h2>
    </head>
        <body>

            <div class="nav">
                <ul>
                    <li><a href="/">Mapping Definition Validator</a></li>
                    <li><a href="/mapping_output">Mapping Output Validator</a></li>
                </ul>
            </div>

            <div class="container">
                <form method="POST" action="/mapping_output" enctype = "multipart/form-data">
                    Upload Data File: &nbsp; <input type = "file" name = "data_file">
                    <br>
                    <br>
                    Upload Shape File:&nbsp;<input type = "file" name = "shape_file">
                    <br>
                    <br>
                    Upload Mapping Definition File:&nbsp;<input type = "file" name = "mapping_definition_file">
                    <input type = "submit" value="Upload"/>
                </form>
            </div>
          <div>
        </div>
        </body>
</html>